.face{
    width: 400px;
    height: 400px;
    background-color: #ffa511;
    border-radius: 50%;
    position:absolute;
}
.mouth{
    width: 200px;
    height: 80px;
    align-items: center;
    background-color: black;
    position:absolute;
    border-radius: 0 0 50px 50px;
    top: 250px;
    left: 105px;
}
.eye1,.eye2{
     width: 80px;
     height:80px;
     display: inline;
     background-color: black;
     border-radius: 50%;
     position: absolute;
}
.eye1{
    top :100px;
    left : 100px;
}
.eye2{
    top :100px;
    left : 235px;
}
.utilize{
    align-items: left;
}

